---
layout: default
---
<div id="post">
  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.meta }}</p>

  {{ content }}
</div>

<div id="chattyloo"></div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
	  <li><a href="{{ post.url }}">{{ post.title }}</a> &mdash; {{ post.date | date_to_string }}</li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  var currentUrl = window.location.pathname.replace("/","-")
  var chattyloo = document.createElement("iframe");

  chattyloo.setAttribute("src", "http://chattyloo.com/" + currentUrl + "?embed=true");
  chattyloo.setAttribute("height", "100%");
  chattyloo.setAttribute("width", "100%");

  document.getElementById('chattyloo').appendChild(chattyloo);
</script>
